Chỉ tiêu,Công thức tính,Tên sheet,to_d1
Vốn CSH,BS_64,BCTC_NHTM_VCSH,1
Tỷ lệ Vốn CSH/TTS,BS_64/BS_1,BCTC_NHTM_VCSH%TTS,1
Vốn điều lệ,BS_66,BCTC_NHTM_VĐL,1
TTS,BS_1,BCTC_NHTM_TTS,1
Dư nợ,BS_13,BCTC_NHTM_DN,1
Huy động vốn,BS_55+BS_58,BCTC_NHTM_HDV,1
Tiền gửi,BS_55,BCTC_NHTM_TGKH,1
Quy mô nợ xấu,NOTES_68+NOTES_69+NOTES_70,BCTC_NHTM_NPL,1
Tỷ lệ nợ xấu,(NOTES_68+NOTES_69+NOTES_70)/BS_13,BCTC_NHTM_%NPL,1
Quy mô nợ nhóm 2,NOTES_67,BCTC_NHTM_NN2,1
Tỷ lệ nợ nhóm 2,NOTES_67/BS_13,BCTC_NHTM_%NN2,1
Tỷ lệ bao phủ nợ xấu,abs(NOTES_91)/(NOTES_68+NOTES_69+NOTES_70),BCTC_NHTM_LLR,1
Tỷ lệ CIR,abs(IS_15)/IS_14,BCTC_NHTM_CIR,1
Chênh lệch thu chi,IS_16,BCTC_NHTM_CLTC,1
Lợi nhuận trước thuế,IS_18,BCTC_NHTM_LNTT,1
Thu lãi ròng,IS_1-abs(IS_17),BCTC_NHTM_TLR,1
Thu phi lãi ròng,IS_14-IS_1,BCTC_NHTM_ThuphiLR,1
Thu dịch vụ ròng,IS_4,BCTC_NHTM_TDVR,1
Thu ròng từ CK kinh doanh,IS_8,BCTC_NHTM_TRCKKD,1
Thu ròng từ CK đầu tư,IS_9,BCTC_NHTM_TRCKĐT,1
Thu ròng từ vốn góp cổ phần,IS_13,BCTC_NHTM_TRGV,1
Thu ròng từ KD ngoại hối,IS_7,BCTC_NHTM_TRKDNH,1
Thu ròng từ HĐ khác,IS_10,BCTC_NHTM_TRHĐ#,1
Tỷ trọng thu lãi ròng,(IS_1-abs(IS_17))/(IS_14-abs(IS_17)),BCTC_NHTM_%TLR,1
Tỷ trọng thu phi lãi ròng,1-(IS_1-abs(IS_17))/(IS_14-abs(IS_17)),BCTC_NHTM_%ThuphiLR,1
Tỷ trọng thu DVR,IS_4/IS_14,BCTC_NHTM_%TDVR,1
Tỷ trọng Thu ròng từ CK kinh doanh,IS_8/IS_14,BCTC_NHTM_%TRCKKD,1
Tỷ trọng Thu ròng từ CK đầu tư,IS_9/IS_14,BCTC_NHTM_%TRCKĐT,1
Tỷ trọng Thu ròng từ vốn góp cổ phần,IS_13/IS_14,BCTC_NHTM_%TRGV,1
Tỷ trọng Thu ròng từ KD ngoại hối,IS_7/IS_14,BCTC_NHTM_%TRKDNH,1
Tỷ trọng Thu ròng từ HĐ khác,IS_10/IS_14,BCTC_NHTM_%TRHĐ#,1
ROA,IS_22/avg_BS_1/quarter*4,BCTC_NHTM_ROA,1
ROE,IS_22/avg_BS_64/quarter*4,BCTC_NHTM_ROE,1
NIM,IS_1/(avg_BS_3+avg_BS_5+avg_BS_6+avg_BS_13+avg_BS_16+avg_BS_19+avg_BS_20)/quarter*4,BCTC_NHTM_NIM,1
Lãi suất đầu ra,IS_2/(avg_BS_3+avg_BS_5+avg_BS_6+avg_BS_13+avg_BS_16+avg_BS_19+avg_BS_20)/quarter*4,BCTC_NHTM_LSĐR,1
Lãi suất đầu vào,abs(IS_3)/(avg_BS_51+avg_BS_52+avg_BS_55+avg_BS_58)/quarter*4,BCTC_NHTM_LSĐV,1
Lãi dự thu,BS_44,BCTC_NHTM_laiduthu,1
Thu nhập lãi cho vay,NOTES_156,BCTC_NHTM_Tnlaichovay,1
Nợ nhóm 1,NOTES_66,BCTC_NHTM_NN1,1
Tỷ lệ Dư nợ/Huy động,BS_13/(BS_55+BS_58),BCTC_NHTM_DN%HĐV,1
Tỷ trọng dư nợ TDH,(NOTES_73+NOTES_74)/NOTES_71,BCTC_NHTM_%DNTDH,1
Tỷ trọng tiền gửi KKH,NOTES_134/NOTES_133,BCTC_NHTM_%CASA,1
Chi phí nhân viên,NOTES_218,BCTC_NHTM_nhanvien,1
Chi phí DPRR tín dụng,IS_17,BCTC_NHTM_DPRR,1
Thu lãi thuần,IS_1,BCTC_TLT,0
Tiền gửi không kỳ hạn,NOTES_134,BCTC_KKH,0
Tỷ trọng chi phí trên tài sản có sinh lời,abs(IS_3+IS_15+IS_17)/(avg_BS_3+avg_BS_5+avg_BS_6+avg_BS_13+avg_BS_16+avg_BS_19+avg_BS_20)/quarter*4,BCTC_CPPPP,0
